.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.grid-child{
    border: 2px solid black;
    display: grid;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 30px;
    background-color: white;
    place-content: center;
}